$blue: #1ba4db;
$light-blue: #1ba5db94;

.size{
  padding: 5px 8px;
  margin: 0 3px;
  border: 1px;
  border-radius: 5px;
  cursor: pointer;
}
.size-active{
  border: 0;
  background-color: $blue;
  color: white;
}
.amount-toggle{
  display: flex;
  place-items: center;
  margin: 1.5rem 0;
}

.btn {
    border: none;
    cursor: pointer;
    outline: none;
    background-color: $blue;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 0px 0px $light-blue;
    &:active {
        transform: translateY(5px);
        box-shadow: 0px 0px 0px 0px $light-blue;
    }
}
.cart-page{
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.cart-item-img{
  max-width: 50px;
  margin-right: 3px;
}
.cart-btn{
  margin-right: 1rem;
  margin-top: 5px;
}
.cart-icon{
  font-size: 2rem;
}
.cart-link{
  color: #c3073f;
}
.num{
  text-decoration: none;
}
.total{
  padding: 3px;
  border: 0;
  border-radius: 50%;
  background: #e5e5e5;
  width: 20px;
  height: 20px;
  color: #c3073f;
  font-size: 14px;
  position: relative;
  display: flex;
  justify-content: center;
  left: -6px;
  top: -6px;
}
.cart-product{
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  align-items: center;
  padding: 1rem 0;
}
.cart-headings{
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
  padding: 10px;
  background-color: #01aade;
  margin-bottom: 10px;
}
  
  