$black: #242424;
$blue: #01aade;
$red: #c3073f;
$btn: rgb(233, 233, 233);

.header{
    background-color: $black;
    margin-bottom: 1rem;
}
.header-content{
    max-width: 1200px;
    margin: 0 auto;
}

// TOP

.top{
    padding-top: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    text-decoration: none;
    font-size: 40px;
    color: $red;
    margin-right: 20px;
    font-family: 'Stick No Bills', sans-serif;
    text-transform: uppercase;
    text-shadow: 1px 1px $blue;
}
.top-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search{
    position: relative;
    right: 5rem;
}
.search-container {
  position: relative;
  --size-button: 30px;
}

.search-input {
  padding-left: var(--size-button);
  height: var(--size-button);
  font-size: 13px;
  border: none;
  color: #fff;
  outline: none;
  width: var(--size-button);
  transition: all ease 0.3s;
  background-color: #191A1E;
  box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
  border-radius: 50px;
  cursor: pointer;
}

.search-input:focus,
.search-input:not(:invalid) {
  width: 184px;
  cursor: text;
  box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 1.5px 1.5px 3px #0e0e0e, inset -1.5px -1.5px 3px #5f5e5e;
}

.search-input:focus + .search-icon,
.search-input:not(:invalid) + .search-icon {
  pointer-events: all;
  cursor: pointer;
}

.search-container .search-icon {
  position: absolute;
  width: var(--size-button);
  height: var(--size-button);
  top: 0;
  left: 0;
  padding: 8px;
  pointer-events: none;
}
.search-container .search-icon svg {
  width: 100%;
  height: 100%;
  color: $blue;
}
.cart-icon{
    font-size: 2.4rem;
    color: $red;
    position: relative;
    right: 20px;
    top: 4px;
    cursor: pointer;
}

//MID

.mid{
    margin: 7px 0;
}
.box{
    color: white;
    border: 1px solid white;
    height: 3.5rem;
    width: 4.5rem;

    img{
        width: 100%;
        height: 100%;
    }
}

// BOTTOM
.bottom{
    min-height: 2rem;
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    color: white;
}
.header-button{
    background-color: #191a1e;
    color: $btn;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 10px 10px 0px 0px;
    border: 0;
    box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 1.5px 1.5px 3px #0e0e0e, inset -1.5px -1.5px 3px #5f5e5e;
    cursor: pointer;
    transition: all 0.3s;
    
    &:hover{
        color: #01aade;
    }
}



// FOOTER

#footer{
    background-color: $black;
    color: white;
    margin-top: 3rem;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding: 3rem;
    margin: 0 auto;
}
.links{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    margin-top: 1rem;
    line-height: 2rem;

  a{
    color: white;
    text-decoration: none;

    &:hover{
        color: #c3073f;
      }
  }
}
.form-container{
    max-width: 20rem;
}
#contact-form input,
textarea {
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    color: #d9dcdd;
    background: transparent;
    width: 100%;
    line-height: 1.6;
    font-size: 1.05rem;
}

#contact-form button[type="submit"] {
    background: transparent;
    font-size: 0.95rem;
    border: 2px solid white;
    margin-top: 5%;
    margin-left: 25%;
    border-radius: 2px;
    color: white;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
}
#contact-form button:hover {
    background: white;
    color: $blue;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
