$black: #282828;
$blue: #1ba4db;
:root {
    --swiper-navigation-size: 18px !important;
    --swiper-theme-color: #1ba4db !important;
}
.swiper-pagination-bullets{
    bottom: 0 !important;
}
.product-card{
    padding: 0.5rem;
    background-color: white;
    border-radius: 10px;
    display: grid;
    place-items: center;
    max-width: 16rem;

    p{
        color: $black;
        padding: 10px 0 3px 0;
    }
    img{
        height: 14rem;
    }
    &:hover{
        transition: all 0.3s;
        box-shadow: 0px 0px 19px 1px rgba(0,0,0,0.35);
    }
    .stars{
        padding-bottom: 10px;
        font-size: 15px;
    }
    .price{
        font-size: 1.2rem;
        font-weight: 500;
        color: $blue;
    }
}
.product-name{
    white-space: nowrap; 
    width: 70%; 
    overflow: hidden;
    text-overflow: ellipsis; 
    text-align: center;
}
.products-container{
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2rem;
    place-items: center;
    background-color: white;
    border-radius: 5px;
}
.heading{
    margin: 2rem 0 1rem 0;
    color: $blue;
}

.single-product-container{
    background-color: white;
    padding: 2rem;
    margin: 2rem 7rem;
    border-radius: 10px;
    display: flex;
    height: auto;

    .images{
        width: 50%;
        display: grid;
        grid-template-columns: minmax(1rem, 15%) 1fr;
        .all{
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
        }
        .main{
            .main-swiper{
                max-width: 20rem;
                img{
                    width: 100%;
                    padding: 1rem;
                    cursor: pointer;
                }
            }
        }
    }
    .details{
        margin-left: 2rem;
    }
}


.red{
    color: red;
}